.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  position: relative;
  flex-direction: column;
}

.video-container {
  flex: 2;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.video {
  width: 100%;
  height: 450px;
  border: 1px solid black;
}

.controls {
  margin: 20px;
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #61dafb;
  color: #282c34;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  height: 500px;
  width: 200px;
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
}

.image-container {
  margin-bottom: 20px;
  text-align: left;
}

.image-container img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
}
